<h5><%= virtual_user.email %></h5>
<%= form_for virtual_user, url: api_virtual_user_path(virtual_user), remote: true do |f| %>
  <div class="row">
    <div class="medium-12 columns">
      <%= f.hidden_field :domain_id %>
      <%= f.label :new_password %>
      <%= f.text_field :new_password %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('form#edit_virtual_user_<%= virtual_user.id %>').bind('ajax:error', function(evt, data, status, xhr){
    $("#messages").html(
      '<div id="flash" class="callout warning">' +
      '<div id="flash_notice">' +
      data.responseJSON.toString() +
      '</div></div>'
    );
    $('#messages').foundation('open');
  })

  $('form#edit_virtual_user_<%= virtual_user.id %>').bind('ajax:success', function(evt, data, status, xhr){
    $(evt.target.parentElement).foundation('close');
  })
</script>
