<div class="row">
  <div class="">
    <h1>Virtual domains</h1>

    <%= form_for @domain, url: api_virtual_domains_path, remote: true do |f| %>
      <div class="input-group">
        <%= content_tag :span, "Add new virtual domain", class: "input-group-label" %>
        <%= f.text_field :name, class: "input-group-field", placeholder: "example.com" %>
        <%= content_tag :div, class: "input-group-button" do %>
          <%= f.submit class: "button" %>
        <% end %>
      </div>
    <% end # form %>

    <table>
      <thead>
        <tr>
          <th>Domain name</th>
          <th>Does MX resolve here?</th>
          <th>Number of users</th>
          <th>Number of aliases</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @domains.each do |domain| %>
          <tr>
            <%= content_tag :td, link_to(domain.name, virtual_users_path(domain.name)) %>
            <%= content_tag :td, domain.does_resolve_to_host? %>
            <%= content_tag :td, domain.virtual_users.count %>
            <%= content_tag :td do %>
              <%= link_to 'Delete', api_virtual_domain_path(domain),
                method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <script type="text/javascript">
      $('form#new_virtual_domain').bind('ajax:error', function(evt, data, status, xhr){
        $("#messages").html(
          '<div id="flash" class="callout warning">' +
          '<div id="flash_notice">' +
          data.responseJSON.toString() +
          '</div></div>'
        );
        $('#messages').foundation('open');
      })

      $('form#new_virtual_domain').bind('ajax:success', function(evt, data, status, xhr){
        $("tbody").append(
            "<tr><td><a href='/" + data.virtual_domain.name + "/users'>" +
            data.virtual_domain.name + "</a>" +
            "</td></tr>");
      })

      $('[data-remote][data-method="delete"]').bind('ajax:success', function(evt, data, status, xhr){
        $(evt.target).closest('tr').remove();
      })
    </script>
  </div>
</div>
