<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ISPmail" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">ISPmail for <%=Socket.gethostname %></li>
        <%= content_tag :li, link_to(root_url, virtual_domains_path) %>
        <%= yield(:menu) %>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
      <% if signed_in? -%>
        <li><%= button_to t(".sign_out"), sign_out_path, method: :delete, class: "button" %></li>
      <% end -%>
      </ul>
    </div>
  </div>

  <div class="reveal" id="messages" data-reveal data-show-flash="<%=!flash.empty?%>">
    <%= flash_messages flash.collect {|k,v| "<div class='callout #{k}'>#{v}</div>" }.join("\n").html_safe, !flash.alert.nil? %>
  </div>

  <div class="column row">
    <%= yield %>
  </div>

</body>
</html>
